@using System.Data;
@using System.Data.SqlClient;
@using Microsoft.AspNetCore.Mvc;
@using Employee_Management_System;
@inject IConfiguration Configuration;
@{
    string EMP_DocNo = ViewBag.EMP_DocNo;
    string name = "", dob = "", address = "", gender = "", docno = "";
    
    using (CommonCLibrary.DAL db = new CommonCLibrary.DAL(Configuration))
    {
        List<SqlParameter> sqlParams = new List<SqlParameter>();
        sqlParams.Add(new SqlParameter("@EMP_DocNo", EMP_DocNo));
        System.Data.DataSet ds = db.SqlDataSetResult("USP_GetEmpEdit", sqlParams);
        DataTable dt = new DataTable();
        dt = ds.Tables[0];
        docno = dt.Rows[0]["EMP_DocNo"].ToString();
        name = dt.Rows[0]["EMP_Name"].ToString();
        address = dt.Rows[0]["EMP_Address"].ToString();
        dob = dt.Rows[0]["EMP_DOB"].ToString();
        gender = dt.Rows[0]["EMP_Gender"].ToString();
       

    }
}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        * {
            box-sizing: border-box;
        }

        input[type=text], select, textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
        }


        input[type=date] {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
        }




        input[type=submit] {
            background-color: #04AA6D;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

            input[type=submit]:hover {
                background-color: #45a049;
            }

        .container {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
        }
    </style>
</head>
<body>

    @*<h3>Enquiry Form</h3>*@

    <div class="container">
        <form action="/home/EditEMP" method="post" id="form">
            <label for="fname">Name</label>
            <input type="hidden" id="docno" value="@docno" name="docno" >

            <input type="text" id="name" value="@name" name="name" onchange="EMP_exist();" required placeholder="Your name..">
            <p id="exist" style=" color: red; display: none;">Employee already exist </p>
            <label for="lname">Address</label>
            <textarea id="w3review" name="address" value="@address" required rows="4" cols="50">@address</textarea>

            <label for="lname">DoB</label>
            <input type="date" id="dob" value="@dob" required name="dob">

            <label for="Gender">Gender</label>

            <select required id="gender" name="gender">
                @{
                    <option value="">Select</option>
                    string sele = "";
                    if (gender == "Male")
                    {
                        <option selected value="Male">Male</option>

                    }
                    else
                    {
                        <option value="Male">Male</option>
                    }
                    if (gender == "Female")
                    {
                       
                        <option selected value="Female">Female</option>

                    }
                    else
                    {
                        <option value="Female">Female</option>
                    }
                    if (gender == "Others")
                    {
                        <option  selected value="Others" >Others</option>

                    }
                    else
                    {
                        <option value="Others">Others</option>

                    }

                }

            </select>



            <input type="submit" id="Button" value="Update">
        </form>
    </div>

</body>
</html>